@require "common"

.tab-content
  position absolute
  top 0
  bottom bar-height
  left 0
  right 0
  overflow-x hidden
  overflow-y scroll

.tab-bar
  display table
  table-layout fixed
  position absolute
  top 0
  bottom 0
  left 0
  right 0

.tab-button
  display table-cell
  font-family heading-font
  width 2%
  text-align center
  font-weight bold
  cursor pointer